/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.cinza-claro{
    background-color: #fcfcfc;
}

.cinza-claro2{
    background-color: #f5f5f5;
}

.azul-primary{
    background-color:#5668f5;
    color:#FFF;
}

.padding-lateral{
    padding-left: 10px;
    padding-right: 10px;
}



.texto-menor{
    font-size:10px;
}


.texto-grande{
    font-size:40px;
   
}

.card{
    margin-bottom:15px;
}


.branco{
    color: #FFF;
}

.red{
  color: red;
}

.green{
color: green;
}


