<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-home">{{nome}}</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="logout()">
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="card">
    <ion-item>
      <ion-icon name="briefcase" slot="start" color="success"></ion-icon>
      <ion-label>Total de Entradas do Dia</ion-label>
        
    </ion-item>
  
    
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-label class="texto-grande">R$ {{entradas}}</ion-label> 
        </ion-col>
       
      </ion-row>
      
      
    </ion-card-content>
  </ion-card>


  <ion-card class="card">
    <ion-item>
      <ion-icon name="card" slot="start" color="danger"></ion-icon>
      <ion-label>Total de Gastos do Dia</ion-label>
        
    </ion-item>
  
    
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-label class="texto-grande">R$ {{saidas}}</ion-label> 
        </ion-col>
       
      </ion-row>
      
      
    </ion-card-content>
  </ion-card>


  <ion-card class="card">
    <ion-item>
      <ion-icon *ngIf="total >= 0" name="cash" slot="start" color="success"></ion-icon>
      <ion-icon *ngIf="total < 0" name="cash" slot="start" color="danger"></ion-icon>
      <ion-label>Saldo Total do Dia</ion-label>
        
    </ion-item>
  
    
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-label class="texto-grande">R$ {{total}}</ion-label> 
        </ion-col>
       
      </ion-row>
      
      
    </ion-card-content>
  </ion-card>
</ion-content>
