<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="urlsplit[1] === 'tesoureiros' || urlsplit[1] === 'gastos' || urlsplit[1] === 'movimentacoes'">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>APP Mysql</ion-list-header>
          <ion-note>www.hugocursos.com.br</ion-note>

          <ion-menu-toggle  auto-hide="false" *ngFor="let p of MenuTesouraria; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

      
      </ion-content>
    </ion-menu>


    <ion-menu contentId="main-content" type="overlay" *ngIf="urlsplit[1] === 'folder' || urlsplit[1] === 'usuarios' ">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>APP Mysql</ion-list-header>
          <ion-note>www.hugocursos.com.br</ion-note>

          <ion-menu-toggle  auto-hide="false" *ngFor="let p of Menu; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

      
      </ion-content>
    </ion-menu>


    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
