<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-home">{{nome}}</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="logout()">
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  
  <ion-card class="card">
    <ion-item>
      <ion-icon name="git-network" slot="start" color="primary"></ion-icon>
      <ion-label>Total de Colaboradores</ion-label>
        
    </ion-item>
  
    
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <ion-label class="texto-grande">{{medicos}}</ion-label> 
        </ion-col>
        <ion-col>
         <ion-label>Total de Colaboradores no Sistema</ion-label> 
        </ion-col>
      </ion-row>
      
      
    </ion-card-content>
  </ion-card>



  <ion-card class="card">
    <ion-item>
      <ion-icon name="medkit" slot="start" color="primary"></ion-icon>
      <ion-label>Total de Cadastros</ion-label>
        
    </ion-item>
  
    
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <ion-label class="texto-grande">{{consultas}}</ion-label> 
        </ion-col>
        <ion-col>
         <ion-label>Total de Cadastros efetuados no Mês!</ion-label> 
        </ion-col>
      </ion-row>
      
      
    </ion-card-content>
  </ion-card>


  <ion-card class="card">
    <ion-item>
      <ion-icon name="cash" slot="start" color="success"></ion-icon>
      <ion-label>Total de Receita do Mês</ion-label>
        
    </ion-item>
  
    
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-label class="texto-grande">R$ {{receita}}</ion-label> 
        </ion-col>
       
      </ion-row>
      
      
    </ion-card-content>
  </ion-card>



  <ion-card class="card">
    <ion-item>
      <ion-icon name="card" slot="start" color="danger"></ion-icon>
      <ion-label>Total de Gastos do Mês</ion-label>
        
    </ion-item>
  
    
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-label class="texto-grande">R$ {{gastos}}</ion-label> 
        </ion-col>
       
      </ion-row>
      
      
    </ion-card-content>
  </ion-card>


</ion-content>
