<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="Gastos()">
      <ion-button>
        <ion-icon  name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastrar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">
      Descrição
    </ion-label>
    <ion-input [(ngModel)]="descricao">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Valor
    </ion-label>
    <ion-input [(ngModel)]="valor">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Vencimento
    </ion-label>
    <ion-input type="date" [(ngModel)]="vencimento"></ion-input>

   
  </ion-item>

  

  <ion-button color="success" expand="block" (click)="cadastrar()">
    Salvar
  </ion-button>

 

</ion-content>
