<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="Usuarios()">
      <ion-button>
        <ion-icon  name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastrar Colaborador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">
      Nome
    </ion-label>
    <ion-input [(ngModel)]="nome">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Usuário
    </ion-label>
    <ion-input [(ngModel)]="usuario">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Senha
    </ion-label>
    <ion-input [(ngModel)]="senha">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Área
    </ion-label>
    <ion-input [(ngModel)]="area">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Nível</ion-label>
    <ion-select placeholder="Selecione" [(ngModel)]="nivel">
      <ion-select-option value="Recepcionista">Recepcionista</ion-select-option>
      <ion-select-option value="Administrativo">Administrativo</ion-select-option>
      <ion-select-option value="Coordenador">Coordenador</ion-select-option>
      <ion-select-option value="SubCoordenador">Sub-Coordenador</ion-select-option>
      <ion-select-option value="Tesoureiro">Tesoureiro</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button *ngIf="!id" color="success" expand="block" (click)="cadastrar()">
    Salvar
  </ion-button>

  <ion-button *ngIf="id" color="primary" expand="block" (click)="editar()">
    Editar
  </ion-button>

</ion-content>
