<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="consultas(usuario)">
      <ion-button>
        <ion-label class="texto-menor">Consultas</ion-label>  
        <ion-icon slot="end" name="search"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo-home">{{nome}}</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="logout()">
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <ion-card class="card">
  <ion-item>
    <ion-icon name="git-network" slot="start" color="primary"></ion-icon>
    <ion-label>Consultas Pendentes</ion-label>
      
  </ion-item>

  
  <ion-card-content>
    <ion-row>
      <ion-col size="3">
        <ion-label class="texto-grande">{{total_pendentes}}</ion-label> 
      </ion-col>
      <ion-col>
       <ion-label>Consultas com Status de Aguardando Pagamentos</ion-label> 
      </ion-col>
    </ion-row>
    
    
  </ion-card-content>
</ion-card>



<ion-card>
  <ion-item>
    <ion-icon name="calendar" slot="start" color="success"></ion-icon>
    <ion-label>Consultas de Hoje</ion-label>
      
  </ion-item>

  
  <ion-card-content>
    <ion-row>
      <ion-col size="3">
        <ion-label class="texto-grande">{{total_hoje}}</ion-label> 
      </ion-col>
      <ion-col>
       <ion-label>Consultas Agendadas para a Data de Hoje</ion-label> 
      </ion-col>
    </ion-row>
    
    
  </ion-card-content>
</ion-card>



<ion-card>
  <ion-item>
    <ion-icon name="refresh-circle" slot="start" color="danger"></ion-icon>
    <ion-label>Consultas Aguardando</ion-label>
      
  </ion-item>

  
  <ion-card-content>
    <ion-row>
      <ion-col size="3">
        <ion-label class="texto-grande" >{{total_aguardando}}</ion-label> 
      </ion-col>
      <ion-col>
       <ion-label>Consultas com Status de Aguardando Atendimento</ion-label> 
      </ion-col>
    </ion-row>
    
    
  </ion-card-content>
</ion-card>

</ion-content>
